---
layout: default
title: Projects
permalink: /projects/
---

<h2>Cool things I've created</h2>

<h3>Apps</h3>
<ul class="post-list">
    {% for project in site.data.projects %}
    <li>
        <div class="entry-date">
            <a target="_blank" href="{{ project.link }}">{{ project.name }}</a>
            {{ project.date | date: "%Y" }}
        </div>
        <div class="entry-desc">
            {{ project.desc }}
        </div>
        <div class="entry-metadata">
            <p><i class="fa">&#xf013;</i> {{ project.tools }}</p>
            
        </div>
    </li>
    {% endfor %}
</ul>

<h3>Vlogs</h3>
<ul class="post-list">
    {% for post in site.data.vlogs %}
    <li>
        <div class="entry-title">
            <a target="_blank" href="{{ post.link }}">{{ post.name }}</a>
        </div>
        <div class="entry-date">
            {{ post.date | date: "%b %-d, %Y" }}
        </div>
    </li>
    {% endfor %}
</ul>

<h3>Blogs</h3>
<ul class="post-list">
    {% for post in site.posts %}
    <li>
        <div class="entry-title">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </div>
        <div class="entry-date">
            {{ post.date | date: "%b %-d, %Y" }}
        </div>
    </li>
    {% endfor %}
</ul>