<footer class="site-footer">
    <div class="wrapper">
      <div class="footer-col-wrapper">
        <div class="footer-col">
            <h5 class="footer-links">
              <a target="_blank" href="https://www.instagram.com/coraellation/">Instagram</a>
              &nbsp; &nbsp; &nbsp;
              <a target="_blank" href="https://www.linkedin.com/in/coraellation/">Linkedin</a>
              &nbsp; &nbsp; &nbsp;
              <a target="_blank" href="mailto:coralam17@gmail.com">Email</a>
              &nbsp; &nbsp; &nbsp;
              <a target="_blank" href="https://www.facebook.com/coralam17">Facebook</a>
            </h5>
            <!-- <p class="text">{{ site.description }}</p> -->
          <h5>© 2020 Cora Lam</h5>
        </div>
      </div>
    </div>
  </footer>
