<footer class="site-footer">
    <div class="wrapper">
      <div class="footer-col-wrapper">
        <div class="footer-col">
            <h5 class="footer-links">
              <a target="_blank" href="https://www.instagram.com/coraellation/">
                <i class="fab fa-instagram fa-lg"></i>
              </a>
              <a target="_blank" href="https://www.linkedin.com/in/coraellation/">
                <i class="fab fa-linkedin fa-lg"></i>
              </a>
              <a target="_blank" href="mailto:coralam17@gmail.com">
                <i class="fas fa-envelope fa-lg"></i>
              </a>
              <a target="_blank" href="https://www.youtube.com/c/coralam">
                <i class="fab fa-youtube fa-lg"></i>
              </a>
            </h5>
          <h5>© 2022 Cora Lam</h5>
        </div>
      </div>
    </div>
  </footer>
