<footer class="site-footer">
    <div class="wrapper">
      <div class="footer-col-wrapper">
        <div class="footer-col">
            <h5 class="footer-links">
              <a target="_blank" href="{{ site.instagram }}">
                <i class="fab fa-instagram fa-lg"></i>
              </a>
              <a target="_blank" href="{{ site.linkedin }}">
                <i class="fab fa-linkedin fa-lg"></i>
              </a>
              <a target="_blank" href="mailto:{{ site.email }}">
                <i class="fas fa-envelope fa-lg"></i>
              </a>
              <a target="_blank" href="https://github.com/{{ site.github_username }}">
                <i class="fab fa-github fa-lg"></i>
              </a>
              <a target="_blank" href="{{ site.youtube }}">
                <i class="fab fa-youtube fa-lg"></i>
              </a>
            </h5>
          <h5>© 2023 Cora Lam</h5>
        </div>
      </div>
    </div>
  </footer>
